{% extends 'base.html' %}

 {% block content %}
 
 <p>hello {{request.user}}</p>
 
<a href="{% url 'profile'%}">Profile</a>

<form action="{% url 'search' %}" method="get">
    <input type="text" name="query" id="">
    <input type="submit" value="Search">
</form>


{% if request.user.is_authenticated  %}
 <a href="{% url 'logout' %}">logout</a>
 {% endif %}
<a href="{% url 'addnotes' %}">Add Note</a>





{% for note in notes  %}
<a href="{% url 'view' note.id %}"><p>{{note.title}}</p></a>
<a href="{% url 'view' note.id %}"><p>{{note.description}}</p></a>
<p>{{note.added}}</p>
<p>{{note.modified}}</p>
<a href="{% url 'delete' note.id %}">delete</a>
<a href="{% url 'update' note.id %}">Edit</a>

{%empty%}
<p>No notes available </p>

{% endfor %}

 {% endblock content %}

