{% extends 'base.html' %}
{% load static %}


{% block link %}

<link rel='stylesheet' href="{% static '/css/loginandsignup.css' %}" >

{% endblock link %}

 {% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <label for="">Username:</label>
        <input type="text" name="username" id="" >
        <label for="">Password:</label>
        <input type="password" name='password'>
    
        <button class='btn'>Submit</button>
    </form>
    <p class='footer1'>New user? <a href="{% url 'signup' %}">Signup</a></p>

 {% endblock content %}