{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel='stylesheet' href="{% static '/css/profile.css' %}" >

{% endblock link %}



{% block content %}
<div class="container">
{% if profile.image %}
<img src="{{profile.image.url}}" alt="" >
{% else %}
<img src=" {%static '/images/default.jpg'%}" alt="" >
{% endif %}
<p>@{{profile.username}}</p>
<p><span>Name:</span>{{profile.name}}</p>
<p><span>Email:</span>{{profile.email}}</p>

<p><span>Bio:</span>{{profile.bio}}</p>


<a href="{% url 'editprofile' %}">Edit Profile</a>

<a href="{% url 'home' %}" class='back'>Back</a>
</div>
{% endblock content %}
