{% extends 'base.html' %}
{% load static %}
{% block link %}

<link rel='stylesheet' href="{% static '/css/home.css' %}" >
{% endblock link %}


 {% block content %}
 
<div class="container">
   <div class="header">
    <h3>Hello {{request.user|title}}<h3/>
 
   <div class="links">
    <a href="{% url 'profile'%}">Profile</a>
    
    <a href="{% url 'logout' %}">Logout</a>
   </div>
   <a href="{% url 'addnotes' %}" class='addnotes'>+</a>
    
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query" id="">
        <button>Search</button>
    </form>
    
    
   
    
   </div>
    
    
    
    
    
    {% for note in notes  %}
   <div class="notes">
    <div class="noteshead">
    <a href="{% url 'view' note.id %}"><p>Title:{{note.title}}</p></a>
    <a href="{% url 'view' note.id %}"><p>{{note.description}}</p></a>
    </div>
    <p class='date'>Created: {{note.added}}</p>
    <p class='date'>Last Modified: {{note.modified}}</p>
    <div class="modify">
    <a href="{% url 'delete' note.id %}" class='delete'>Delete</a>
    <a href="{% url 'update' note.id %}" class='edit'>Edit</a>
    </div>
   </div>
    
    {%empty%}
    <p id='none'>No notes available </p>
    
    {% endfor %}

    <a href="{% url 'home' %}" class='back'>Back</a>
</div>

 {% endblock content %}

