{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel='stylesheet' href="{% static '/css/loginandsignup.css' %}" >

{% endblock link %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <label for="">Username:</label>
    {{form.username}}
    <label for="">Email:</label>
    {{form.email}}
    <label for="">Password:</label>
    {{form.password1}}
    <label for="">Confirm Password:</label>
    {{form.password2}}
    <button>Submit</button>
</form>
<p class='footer'>Already have account? <a href="{% url 'login' %}"> Login</a></p>
{% endblock content %}

